.Sale-info-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding: 0px 40px;
  min-width: 400px;
  max-width: 800px;
}

.Buy-column {
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
}

.Sale-page {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  min-height: 100vh;
  font-size: calc(10px + 2vm);
  color: white;
  text-align: center;
}

.myButton {
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 20px;
  padding: 10px 60px;
  border-radius: 0px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.myButton:hover {
  background: #1c6ea4;
}
.myButton:active {
  background: #144e75;
}
